@use '/calendar/src/shared/scss/shared.scss' as *;

.CalendarDays {
    display: flex;
    height: 34px;
    justify-content: space-around;
    padding: 5px;
    user-select: none;

    div {
        color: $page-main-text-color;
        cursor: pointer;
        height: 24px;
        margin: 0 1%;
        position: relative;
        text-align: center;

        &::before {
            background-color: $page-bg-theme;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        &::after {
            background-color: $page-bg-theme-lighten5;
            color: inherit;
            content: attr(data-date);
            left: 50%;
            padding: 5px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            color: #d3d3d3;
        }
    }
}
