@use '/calendar/src/shared/scss/shared.scss' as *;

.Wrapper {
    padding-top: 200px;
}

.FormContainer {
    background-color: $page-bg-theme-lighten5;
    margin: 0 auto;
    padding: 30px 0 0;
    width: 40%;

    @media (max-width: 1200px) {
        width: 60%;
    }

    @media (max-width: 800px) {
        width: 80%;
    }

    @media (max-width: 600px) {
        width: 96%;
    }

    h3 {
        color: $page-main-text-color;
        text-align: center;
    }

    .Error {
        text-align: center;

        span {
            color: $validation-error-color;
        }
    }
}

form {
    padding: 15px;

    .SubmitButton {
        margin-top: 30px;
        width: 100%;

        &[disabled] {
            background-color: $page-bg-theme-lighten10;
            color: $page-bg-theme-lighten20;
        }
    }
}

.FieldSet {
    color: $page-main-text-color;
    margin: 10px 0;

    label {
        display: inline-block;
        width: 40%;
    }

    input {
        background-color: $page-bg-theme;
        border: 0;
        border: 1px solid transparent;
        border-radius: 2px;
        color: $page-bg-theme-lighten20;
        display: inline-block;
        font-size: 16px;
        line-height: 26px;
        padding: 5px;
        width: 60%;

        &:focus {
            outline: none;
        }
    }
}

.SwitchAuthTypeLink {
    color: $page-bg-theme-lighten20;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;

    &:active {
        color: $page-bg-theme-lighten10;
    }
}
