$page-bg-theme: #242424;
$page-bg-theme-lighten5: #313131;
$page-bg-theme-lighten10: #3e3e3e;
$page-bg-theme-lighten15: #4a4a4a;
$page-bg-theme-lighten20: #575757;

$page-main-text-color: #999391;

$backdrop-background-color-light: #000000b3;
$backdrop-background-color-dark: #000000b3;
$backdrop-text-light-color: #fff;

$validation-error-color: #f00;
$close-button-color: #f00;

.PointerLeft,
.PointerRight {
    background-color: transparentize(
        $color: $page-bg-theme-lighten20,
        $amount: 0.15
    );
    border-radius: 50%;
    color: #add8e6;
    cursor: pointer;
    font-size: 24px;
    height: 36px;
    line-height: 24px;
    padding: 6px 8px;
    text-align: center;
    transition: 0.15s;
    user-select: none;
    width: 36px;
    z-index: 1;

    &:hover {
        background-color: $page-bg-theme-lighten20;
    }
}

.PointerLeft {
    left: 5px;
}

.PointerRight {
    right: 5px;
}

button {
    background-color: $page-bg-theme;
    border: 0;
    border: 1px solid $page-bg-theme-lighten10;
    color: $page-main-text-color;
    cursor: pointer;
    padding: 8px;
    transition: 0.1s;

    i {
        padding-right: 8px;
    }

    &:hover:not(:disabled) {
        background-color: $page-bg-theme-lighten5;
        border-color: $page-bg-theme-lighten15;
    }
}

*:focus {
    outline: none;
}
