@use '/calendar/src/shared/scss/shared.scss' as *;

.CalendarEventsDetailsInner {
    border: 1px solid $page-bg-theme-lighten10;
    border-radius: inherit;
    color: inherit;
    height: 300px;
    overflow-x: hidden;
    position: relative;

    @media (max-width: 650px) {
        height: 250px;
    }

    .PointerLeft,
    .PointerRight {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }

    .CalendarEventsDetailsInnerFlex {
        align-items: center;
        border-radius: inherit;
        color: inherit;
        cursor: pointer;
        display: flex;
        height: 100%;
        padding: 15px 35px;
        position: relative;
        right: 0;
        width: fit-content;
    }

    .DistanceBar {
        background-color: #fff;
        bottom: 0;
        height: 3px;
        left: 0;
        position: absolute;
        transition: 0.3s;
        width: 0;
    }
}
