@use '/calendar/src/shared/scss/shared.scss' as *;

.DateLine {
    background-clip: content-box;
    background-color: $page-bg-theme;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    padding: 20px 0;
    position: relative;
    width: 100%;

    &::before {
        background-color: $page-bg-theme-lighten5;
        color: $page-main-text-color;
        content: attr(data-mon);
        left: 50%;
        padding: 3px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover::before {
        color: #d3d3d3;
    }

    &:first-of-type::after {
        background-color: inherit;
        border-radius: 50%;
        content: '';
        height: 10px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        width: 10px;
    }
}
