@use '/calendar/src/shared/scss/shared.scss' as *;

.Backdrop {
    background-color: $backdrop-background-color-dark;
    border: 3px solid $page-bg-theme-lighten15;
    border-radius: 5px;
    font-size: 18px;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 9999;

    .BackdropContents {
        color: $backdrop-text-light-color;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 1000px) {
            width: 90%;
        }
    }
}

.FullPageBackdrop {
    background-color: $backdrop-background-color-light;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
}

.ExitButton {
    border-bottom: 1px solid $close-button-color;
    left: 5%;
    position: fixed;
    top: 3px;
    width: 64px;
    z-index: 9999;
}
