@use '/calendar/src/shared/scss/shared.scss' as *;

.CalendarScheduleWrapper {
    color: #c4c4c4;
}

.CalendarScheduleChart {
    background-color: lighten($color: $page-bg-theme, $amount: 5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px auto;
    padding: 10px;
    padding: 15px 25px;
    width: 90%;

    @media (max-width: 800px) {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

.UpperBar {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .CurrentDateTime {
        color: $page-main-text-color;
        margin: 15px 0;
        padding: 0 15px;
    }

    button {
        background-color: $page-bg-theme;
        border: 0;
        border: 2px solid transparent;
        border-radius: 5px;
        color: $page-main-text-color;
        cursor: pointer;
        padding: 8px;
        transition: 0.1s;

        i {
            padding-right: 8px;
        }

        &:hover {
            background-color: $page-bg-theme-lighten5;
            border-color: $page-bg-theme;
        }

        &:focus {
            outline: none;
        }
    }
}

.CalendarScheduleChartTable,
.CalendarEventsDetails {
    border-radius: inherit;

    @media (max-width: 1150px) {
        width: 100%;
    }
}

.CalendarScheduleChartContentWrapper {
    align-items: center;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    position: relative;

    .CalendarScheduleChartEventsContainer {
        height: 410px;
        margin: 30px auto 0;
        overflow: hidden;
        position: relative;
        width: 92%;
    }
}

.CalendarScheduleChartContentFrames {
    height: 100%;
    position: relative;
    width: 100%;

    .CalendarScheduleChartContent {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &:nth-of-type(1) {
            left: -100%;
        }

        &:nth-of-type(3) {
            left: 100%;
        }
    }
}

.CalendarEventsDetails {
    padding-top: 30px;
}

.CalendarGraph {
    width: 100%;
}
