@use '/calendar/src/shared/scss/shared.scss' as *;

.HeaderInfo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 3px;
    width: 90%;

    header {
        text-align: right;
    }
}

.UserInfo {
    color: $page-main-text-color;
    cursor: default;
    margin: auto;
    padding: 8px 0;

    @media (max-width: 800px) {
        margin-right: 10px;
        width: auto;
    }

    @media (max-width: 400px) {
        font-size: 12px;
    }

    span {
        color: lighten($page-main-text-color, 20);

        &:hover {
            animation: glitchy 0.3s linear 0s infinite;
        }
    }

    a {
        color: $page-main-text-color;
        margin-left: 15px;

        &:active {
            color: darken($page-main-text-color, 20);
        }
    }
}

@keyframes glitchy {
    0% {
        text-shadow: 2px 2px #00f, -2px 2px #f00;
    }

    25% {
        text-shadow: -2px -2px #00f, 2px -2px #f00;
    }

    50% {
        text-shadow: -2px 2px #00f, 2px 2px #f00;
    }

    75% {
        text-shadow: 2px -2px #00f, -2px -2px #f00;
    }

    100% {
        text-shadow: 2px 2px #00f, -2px 2px #f00;
    }
}
