@import './shared/scss/shared.scss';

* {
	box-sizing: border-box;
}

html {
	background-color: $page-bg-theme;
	min-width: 250px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	background-color: $page-bg-theme-lighten10;
}

::-webkit-scrollbar-thumb {
	background-color: $page-bg-theme-lighten15;
}
