@use '/calendar/src/shared/scss/shared.scss' as *;

.CalendarScheduleChartTableContent {
    background-color: $page-bg-theme-lighten10;
    border-radius: 5px;
    height: 330px;
    overflow-x: hidden;

    .CalendarScheduleChartTableContentInner {
        align-items: flex-start;
        display: flex;
        height: 100%;
        justify-content: left;
        margin: 0 3%;
        overflow-y: hidden;

        .ColumnWrapper {
            height: 330px;
            margin: 0 1%;
            position: relative;
            z-index: 0;
        }
    }
}
